@media(max-width:1000px){

nav{

display:none;

}

.discord-card{

grid-template-columns:1fr;

}

.footer-grid{

grid-template-columns:1fr;

text-align:center;

}

.hero h1{

font-size:60px;

}

.hero p{

font-size:18px;

}

.hero-logo{

width:140px;

height:140px;

}

.staff-card{

width:100%;

}

}

@media(max-width:600px){

.hero h1{

font-size:42px;

}

h2{

font-size:32px;

}

.btn{

display:block;

margin:15px auto;

width:250px;

}

.feature-grid{

grid-template-columns:1fr;

}

.member-list{

grid-template-columns:1fr;

}

}